---
> # **Python 라이브러리**
> - Numpy(numeric + python) : 수학/과학/통계 함수 집합
> - Pandas (Panel + Dataset) : 정형 데이터 통계 연산 및 전처리 함수 집합
> - Matplot (Matla + Python Plot) : 연속형 자료의 그래프 시각화 함수
> - Seaborn : 정형 데이터의 통계적 시각화 함수들의 집합
> - Missingno : 결측값에 대한 시각화 함수들의 집합
> - Plotly : 동적 시각화 함수들의 집합
> - Scipy (Science + Python) : 응용통계 연산 (가설 검정, 시계열, 다변량, 회귀..)
> - Scikit Learn (Science + Python + Learning + Toolkit) : 정형 데이터의 기계학습 함수들의 집합
> - bs4 / selenium : 웹 데이터 수집 및 자동화 관련 함수
> - tensorflow : 비정형 데이터 처리 및 신경망 알고리즘 관련 함수
> - keras : 신경망 알고리즘 API
> - pytorch : 신경망 알고리즘 API
---

---
> ## **라이브러리 호출**
---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#pip install Numpy

In [3]:
#pip install pandas

In [4]:
#pip install matplotlib

In [5]:
#pip install seaborn

---
> ## csv 읽기 / df1 선언
---

In [6]:
df1 = pd.read_csv("01_Data.csv")

In [7]:
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

---
> ## **실습 데이터 : 렌탈 데이터**
> - Member_ID, Sales_Type, Contract_Type, Channel,Datetime, Term, Payment_Type, Product_Type, Amount_Month, Customer_Type, Age, Address1, Address2, State, Overdue_count, Overdue_Type, Gender, Credit_Rank, Bank
---

---
> ## **DDA (기술적 데이터 분석)**
> ### **데이터 전처리**
> - 데이터 추출
> - 데이터 정렬
> - 데이터 필터
> - 데이터 요약, 데이터 병합 및 재구조화
> - 날짜 데이터 처리
> - 결측값 처리
---

In [8]:
df1.head(10)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-17,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행

In [9]:
df1.shape

(51301, 20)

### **데이터 구조와 타입에 대한 요약**

In [10]:
df1.info

<bound method DataFrame.info of        Index  Member_ID Sales_Type Contract_Type Channel    Datetime  Term  \
0          1   66758234         렌탈          일반계약    영업방판  2019-05-06    60
1          2   66755948         렌탈          교체계약    영업방판  2020-02-20    60
2          3   66756657         렌탈          일반계약  홈쇼핑/방송  2019-02-28    60
3          4   66423450        멤버십        멤버십3유형     재계약  2019-05-13    12
4          5   66423204        멤버십        멤버십3유형     재계약  2019-05-10    12
...      ...        ...        ...           ...     ...         ...   ...
51296  51298   66579515         렌탈        프로모션계약   대형마트A  2019-03-01    60
51297  51299   66799558         렌탈          일반계약   대형마트A  2019-04-01    60
51298  51300   66799197         렌탈        프로모션계약    영업방판  2019-04-01    39
51299  51301   66792778         렌탈          일반계약  홈쇼핑/방송  2020-02-06    60
51300  51302   66799607         렌탈          일반계약  홈쇼핑/방송  2019-04-24    60

      Payment_Type Product_Type  Amount_Month Customer_Type   Age Address1  \
0              CMS        DES-1         96900            개인  42.0      경기도
1             카드이체        DES-1        102900            개인  39.0      경기도
2              CMS        DES-1         96900            개인  48.0      경기도
3              CMS        DES-1         66900            개인  39.0      경기도
4              CMS        DES-1         66900            개인  60.0      경기도
...            ...          ...           ...           ...   ...      ...
51296          CMS       DES-3A         96900            개인  47.0      경기도
51297          CMS        DES-1         96900            개인  42.0      경기도
51298         카드이체          ERA        120900            개인  65.0    서울특별시
51299         카드이체        DES-1         96900            개인  54.0    서울특별시
51300          CMS        DES-1         96900            개인  53.0    서울특별시

      Address2 State  Overdue_count Overdue_Type Gender  Credit_Rank    Bank
0          경기도  계약확정              0           없음     여자          9.0   새마을금고
1          경기도  계약확정              0           없음     남자          2.0    현대카드
2          경기도  계약확정              0           없음     여자          8.0    우리은행
3          경기도  계약확정              0           없음     남자          5.0  농협회원조합
4          경기도  기간만료             12           있음     남자          8.0  농협회원조합
...        ...   ...            ...          ...    ...          ...     ...
51296      경기도  계약확정              0           없음     남자          NaN    기업은행
51297      경기도  계약확정              0           없음     여자          8.0   새마을금고
51298    서울특별시  계약확정              0           없음     여자          1.0    롯데카드
51299    서울특별시  계약확정              0           없음     여자          2.0    롯데카드
51300    서울특별시  계약확정              0           없음     여자          8.0    신한은행

[51301 rows x 20 columns]>

### **결측값 확인**

In [11]:
df1.isnull().sum()

Index               0
Member_ID           0
Sales_Type          0
Contract_Type       0
Channel             0
Datetime            0
Term                0
Payment_Type        0
Product_Type        0
Amount_Month        0
Customer_Type       2
Age              6972
Address1            2
Address2            2
State               0
Overdue_count       0
Overdue_Type        0
Gender              0
Credit_Rank      8781
Bank             2759
dtype: int64

### **데이터 추출**
- 행 추출
- 특정 **열 추출** : df[] : **결과값은 Series**
- 특정 **여러 열** 추출 : df[[]] : **결과값은 dataframe**

In [12]:
df1.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [13]:
df1.tail()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [14]:
df1.iloc[100:200]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
100,101,66758264,렌탈,패키지계약,홈쇼핑/방송,2019-01-01,60,CMS,DES-1,81900,개인,38.0,전라도,광주광역시,계약확정,0,없음,남자,2.0,광주은행
101,102,66758264,렌탈,패키지계약,홈쇼핑/방송,2019-02-09,60,CMS,DES-2,81900,개인,38.0,전라도,광주광역시,계약확정,0,없음,남자,2.0,광주은행
102,103,66758918,렌탈,일반계약,전문매장H,2019-01-31,60,CMS,DES-1,96900,개인,36.0,전라도,광주광역시,계약확정,0,없음,여자,1.0,국민은행
103,104,66437196,렌탈,프로모션계약,영업방판,2019-01-31,60,CMS,DES-3A,90900,개인,44.0,전라도,광주광역시,계약확정,0,없음,여자,2.0,농협회원조합
104,105,66420849,렌탈,프로모션계약,영업방판,2019-02-21,60,CMS,DES-2,90900,개인,50.0,전라도,광주광역시,계약확정,0,없음,남자,3.0,외환은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,66758799,렌탈,패키지계약,홈쇼핑/방송,2019-02-19,60,카드이체,DES-2,81900,개인,49.0,경상도,부산광역시,계약확정,0,없음,남자,1.0,롯데카드
196,197,66331658,렌탈,교체계약,영업방판,2019-02-19,60,CMS,DES-1,102900,개인,52.0,경상도,부산광역시,계약확정,0,없음,남자,NaN,농협중앙회
197,198,66758349,렌탈,일반계약,영업방판,2019-12-17,60,CMS,DES-1,96900,개인,64.0,경상도,부산광역시,계약확정,0,없음,여자,2.0,국민은행
198,199,66464668,렌탈,일반계약,영업방판,2020-06-23,60,CMS,DES-2,87900,개인,63.0,경상도,울산광역시,계약확정,0,없음,여자,1.0,농협중앙회
199,200,66635455,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,개인,39.0,경상도,대구광역시,계약확정,0,없음,여자,NaN,농협회원조합

In [15]:
df1_top = df1.head(100)
df1_top.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

#### **특정 열 추출**

In [16]:
df1['Amount_Month']

0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51296     96900
51297     96900
51298    120900
51299     96900
51300     96900
Name: Amount_Month, Length: 51301, dtype: int64

#### **특정 여러 열 추출**

In [17]:
df1[['Amount_Month','Age']]

       Amount_Month   Age
0             96900  42.0
1            102900  39.0
2             96900  48.0
3             66900  39.0
4             66900  60.0
...             ...   ...
51296         96900  47.0
51297         96900  42.0
51298        120900  65.0
51299         96900  54.0
51300         96900  53.0

[51301 rows x 2 columns]

### **데이터 정렬**

#### 오름차순 : default 값

In [18]:
df1.sort_values(by = 'Amount_Month')

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
35768,35770,66784964,멤버십,멤버십2유형,전문매장H,2019-02-07,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
43022,43024,66792946,멤버십,멤버십2유형,전문매장H,2020-06-30,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
49993,49995,66796388,멤버십,멤버십2유형,전문매장H,2020-03-25,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
45246,45248,66793779,멤버십,멤버십2유형,전문매장H,2019-07-16,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회

#### 내림차순 정렬 : ascending = False

In [19]:
df1.sort_values(by = 'Amount_Month', ascending = False)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
19773,19775,25740247,렌탈,프로모션계약,전단홍보,2019-11-14,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
19413,19415,25710320,렌탈,프로모션계약,영업방판,2020-01-29,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19412,19414,25710321,렌탈,프로모션계약,영업방판,2019-09-15,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45304,45306,66793756,멤버십,멤버십2유형,전문매장H,2019-10-07,36,무통장,DES-1,54603,개인,NaN,충청도,충청도,계약확정,0,없음,여자,NaN,NaN
50428,50430,66797402,멤버십,멤버십2유형,전문매장H,2019-12-27,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
45302,45304,66793342,멤버십,멤버십2유형,전문매장H,2019-04-03,36,무통장,DES-1,54603,개인,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
41153,41155,66790864,멤버십,멤버십2유형,전문매장H,2019-02-16,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
39373,39375,66788207,멤버십,멤버십2유형,전문매장H,2020-05-11,36,무통장,DES-1,54603,개인,NaN,제주도,제주도,계약확정,0,없음,여자,NaN,NaN

#### 정렬조건 2개

In [20]:
df1.sort_values(by = ['Amount_Month','Age'])

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
33107,33109,66783626,멤버십,멤버십2유형,전문매장H,2019-12-19,36,무통장,DES-1,54603,개인,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
33844,33846,66783744,멤버십,멤버십2유형,전문매장H,2019-03-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34129,34131,66783985,멤버십,멤버십2유형,전문매장H,2020-01-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34311,34313,66783750,멤버십,멤버십2유형,전문매장H,2019-02-21,36,무통장,DES-1,54603,개인,NaN,경상도,대구광역시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35084,35086,25867372,렌탈,프로모션계약,영업방판,2019-05-01,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
35085,35087,25867372,렌탈,프로모션계약,영업방판,2019-02-07,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [21]:
df1.sort_values(by = ['Amount_Month','Age'], ascending=False)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [22]:
df1.sort_values(by = ['Amount_Month','Age'], ascending=[False,True])

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

### **실습** : Overdue_count가 높은 50개 데이터 추출

In [23]:
df3 = df1.sort_values(by='Overdue_count',ascending=False).head(50)
df3

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
2705,2706,66760494,렌탈,패키지계약,홈쇼핑/방송,2020-06-29,60,CMS,DES-2,81900,개인,52.0,전라도,전라도,계약확정,15,있음,남자,8.0,우리은행
3093,3094,66679489,렌탈,프로모션계약,영업방판,2020-06-20,60,CMS,DES-3A,90900,개인,58.0,서울특별시,서울특별시,계약확정,15,있음,여자,4.0,우리은행
3782,3783,66603883,렌탈,일반계약,영업방판,2019-10-28,60,CMS,DES-1,111900,개인,38.0,전라도,전라도,계약확정,15,있음,여자,7.0,농협중앙회
5846,5847,66762531,렌탈,패키지계약,영업방판,2020-07-29,60,CMS,DES-2,89400,개인,27.0,충청도,대전광역시,계약확정,15,있음,남자,5.0,하나은행
5845,5846,66762531,렌탈,패키지계약,영업방판,2020-07-10,60,CMS,DES-1,134400,개인,27.0,충청도,대전광역시,계약확정,15,있음,남자,5.0,하나은행
341,342,66758501,렌탈,프로모션계약,영업방판,2019-01-02,39,카드이체,ERA,120900,개인,38.0,경상도,부산광역시,계약확정,15,있음,여자,8.0,국민카드
3094,3095,66679489,렌탈,프로모션계약,영업방판,2020-06-20,60,CMS,DES-3A,90900,개인,58.0,서울특별시,서울특별시,계약확정,15,있음,여자,4.0,우리은행
95,96,25751808,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,사업자,NaN,경기도,경기도,계약확정,15,있음,여자,NaN,기업은행
347,348,66689896,렌탈,프로모션계약,영업방판,2020-07-22,60,CMS,DES-2,90900,개인,55.0,서울특별시,서울특별시,계약확정,15,있음,여자,7.0,신한은행
5594,5595,66762324,렌탈,프로모션계약,영업방판,2019-06-01,39,CMS,ERA,120900,개인,54.0,경상도,부산광역시,계약확정,15,있음,남자,8.0,부산은행
6350,6351,66763042,렌탈,프로모션계약,영업방판,2019-05-27,39,CMS,ERA,120900,개인,49.0,경상도,부산광역시,계약확정,15,있음,남자,7.0,새마을금고
8890,8891,66764868,렌탈,일반계약,영업방판,2019-08-06,60,CMS,DES-1,96900,개인,37.0,경상도,부산광역시,계약확정,14,있음,남자,NaN,우리은행
17876,17878,66771238,렌탈,패키지계약,영업방판,2020-01-29,60,CMS,DES-1,104400,개인,49.0,경기도,인천광역시,계약확정,14,있음,여자,9.0,농협중앙회
17877,17879,66771238,렌탈,패키지계약,영업방판,2019-02-16,60,CMS,DES-2,89400,개인,49.0,경기도,인천광역시,계약확정,14,있음,여자,9.0,농협중앙회
9748,9749,66765598,렌탈,패키지계약,영업방판,2019-07-02,60,CMS,DES-2,89400,개인,49.0,경상도,부산광역시,계약확정,14,있음,남자,7.0,부산은행
16984,16986,66770173,렌탈,프로모션계약,영업방판,2019-02-28,36,CMS,DES-2,102900,개인,49.0,경상도,경상도,계약확정,14,있음,남자,4.0,농협회원조합
10132,10133,66766494,렌탈,프로모션계약,영업방판,2019-01-16,60,CMS,DES-1,105900,개인,57.0,경기도,인천광역시,계약확정,14,있음,남자,7.0,농협회원조합
9747,9748,66765598,렌탈,일반계약,영업방판,2019-06-20,60,CMS,DES-3A,102900,개인,49.0,경상도,부산광역시,계약확정,14,있음,남자,NaN,부산은행
19787,19789,66678485,렌탈,프로모션계약,영업방판,2019-06-06,39,CMS,ERA,120900,개인,64.0,경상도,경상도,계약확정,14,있음,여자,6.0,부산은행
9746,9747,66765598,렌탈,패키지계약,영업방판,2019-06-12,60,CMS,DES-1,101400,개인,49.0,경상도,부산광역시,계약확정,14,있음,남자,7.0,부산은행
17949,17951,66770992,렌탈,프로모션계약,영업방판,2020-03-15,39,CMS,ERA,120900,개인,59.0,서울특별시,서울특별시,계약확정,14,있음,남자,NaN,하나은행
15977,15979,66744916,렌탈,일반계약,영업방판,2020-01-18,60,CMS,DES-1,124200,개인,62.0,서울특별시,서울특별시,계약확정,14,있음,남자,8.0,하나은행
16286,16288,66687312,렌탈,일반계약,영업방판,2019-01-21,60,CMS,DES-1,96900,개인,42.0,충청도,충청도,계약확정,14,있음,남자,7.0,신한은행
9807,9808,66765451,렌탈,일반계약,영업방판,2019-01-31,60,CMS,DES-2,87900,개인,38.0,경기도,경기도,계약확정,14,있음,남자,7.0,신한은행
20568,20570,66770862,렌탈,일반계약,영업방판,2019-03-23,60,CMS,DES-1,96900,개인,49.0,경상도,부산광역시,계약확정,14,있음,여자,3.0,부산은행
19972,19974,66771191,렌탈,일반계약,영업방판,2019-08-04,60,CMS,DES-3A,102900,개인,29.0,전라도,광주광역시,계약확정,14,있음,여자,NaN,신한은행
22395,22397,66774589,렌탈,일반계약,홈쇼핑/방송,2019-03-08,60,CMS,DES-1,96900,개인,28.0,경상도,경상도,계약확정,14,있음,여자,6.0,국민은행
18906,18908,66770230,렌탈,프로모션계약,영업방판,2019-01-24,60,CMS,DES-3A,90900,개인,62.0,경기도,경기도,계약확정,14,있음,남자,NaN,농협회원조합
18972,18974,66771420,렌탈,프로모션계약,영업방판,2019-12-20,60,CMS,DES-2,110700,개인,26.0,충청도,충청도,계약확정,14,있음,여자,NaN,우리은행
17352,17354,66757155,렌탈,프로모션계약,영업방판,2019-03-21,39,CMS,ERA,120900,개인,36.0,전라도,광주광역시,계약확정,14,있음,남자,6.0,국민은행
21801,21803,66770862,렌탈,프로모션계약,영업방판,2020-04-15,60,CMS,DES-3A,90900,개인,49.0,경상도,부산광역시,계약확정,14,있음,여자,3.0,부산은행
22916,22918,66771420,렌탈,프로모션계약,영업방판,2019-02-28,36,CMS,DES-2,102900,개인,26.0,충청도,충청도,계약확정,14,있음,여자,NaN,우리은행
19257,19259,66744916,렌탈,일반계약,영업방판,2020-03-25,60,CMS,DES-1,124200,개인,62.0,서울특별시,서울특별시,계약확정,14,있음,남자,8.0,하나은행
13596,13597,66768417,렌탈,패키지계약,영업방판,2019-04-25,60,CMS,DES-2,89400,개인,55.0,경기도,경기도,계약확정,14,있음,남자,NaN,기업은행
7958,7959,66762801,렌탈,프로모션계약,영업방판,2019-07-13,60,CMS,DES-3A,90900,개인,39.0,경상도,부산광역시,계약확정,14,있음,남자,7.0,신협중앙회
9806,9807,66765451,렌탈,일반계약,영업방판,2019-01-31,60,CMS,DES-1,96900,개인,38.0,경기도,경기도,계약확정,14,있음,남자,7.0,신한은행
16965,16967,66770101,렌탈,프로모션계약,영업방판,2019-07-29,39,CMS,ERA,120900,개인,28.0,경기도,인천광역시,계약확정,14,있음,여자,8.0,신한은행
10555,10556,25765068,렌탈,일반계약,대형마트E,2019-04-10,60,CMS,DES-1,142200,사업자,NaN,전라도,전라도,계약확정,14,있음,여자,NaN,신협중앙회
16451,16453,66769597,렌탈,패키지계약,영업방판,2020-01-19,60,CMS,DES-2,89400,개인,50.0,강원도,강원도,계약확정,14,있음,여자,7.0,농협회원조합
15463,15465,66768541,렌탈,프로모션계약,대형마트E,2020-02-04,60,CMS,DES-1,96900,개인,48.0,경상도,부산광역시,계약확정,14,있음,여자,7.0,국민은행
14156,14157,66750187,렌탈,일반계약,영업방판,2019-03-10,60,CMS,DES-3A,102900,개인,30.0,충청도,충청도,계약확정,14,있음,여자,NaN,농협회원조합
14155,14156,66750187,렌탈,프로모션계약,영업방판,2019-01-18,36,CMS,DES-2,102900,개인,30.0,충청도,충청도,계약확정,14,있음,여자,NaN,농협회원조합
14245,14246,66781401,렌탈,프로모션계약,영업방판,2019-10-30,39,CMS,ERA,120900,개인,54.0,충청도,대전광역시,계약확정,14,있음,남자,7.0,농협회원조합
13595,13596,66768417,렌탈,패키지계약,영업방판,2019-04-09,60,CMS,DES-1,104400,개인,55.0,경기도,경기도,계약확정,14,있음,남자,NaN,기업은행
22514,22516,66771238,렌탈,프로모션계약,영업방판,2019-12-20,60,CMS,DES-3A,90900,개인,49.0,경기도,인천광역시,계약확정,14,있음,여자,9.0,농협중앙회
14797,14798,66764868,렌탈,프로모션계약,영업방판,2019-10-31,60,CMS,DES-2,110700,개인,37.0,경상도,부산광역시,계약확정,14,있음,남자,NaN,우리은행
6307,6308,66762801,렌탈,프로모션계약,영업방판,2019-01-10,60,CMS,DES-1,111900,개인,39.0,경상도,부산광역시,계약확정,14,있음,남자,7.0,신협중앙회
21727,21729,66448109,렌탈,일반계약,영업방판,2019-03-27,60,CMS,DES-1,124200,개인,58.0,경상도,경상도,계약확정,14,있음,남자,6.0,새마을금고
9638,9639,66521212,렌탈,프로모션계약,영업방판,2019-01-15,60,CMS,DES-3A,90900,개인,29.0,경기도,경기도,계약확정,14,있음,남자,5.0,농협중앙회
9871,9872,66714497,렌탈,프로모션계약,영업방판,2019-01-31,60,CMS,DES-3A,90900,개인,52.0,경상도,경상도,계약확정,14,있음,남자,7.0,우체국

### **데이터 추출**

#### 월 렌탈 비용이 10만원 이상인 고객 계약 데이터 추출

In [24]:
cond1 = df1['Amount_Month'] >= 100000
df1.loc[cond1]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51291,51293,25731743,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

#### 월렌탈비용이 10만원 이상이고 고객 연령이 40세 미만

In [25]:
#pip install openpyxl

In [26]:
cond1 = df1['Amount_Month'] >= 100000
cond2 = df1['Age'] < 40
df1.loc[cond1&cond2].to_excel('result.xlsx')
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

#### 월렌탈비용이 10만원 이상이고 결제은행이 현대 카드

In [27]:
cond1 = df1['Amount_Month'] >= 100000
cond2 = df1['Bank']=='현대카드'
df1.loc[cond1&cond2]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
489,490,66758903,렌탈,프로모션계약,대형마트E,2019-12-10,60,카드이체,DES-1,105900,개인,41.0,경기도,경기도,계약확정,0,없음,남자,4.0,현대카드
729,730,66758880,렌탈,프로모션계약,전문매장H,2020-07-01,60,카드이체,DES-1,105900,개인,40.0,경기도,인천광역시,계약확정,0,없음,여자,2.0,현대카드
753,754,66758187,렌탈,프로모션계약,영업방판,2019-03-24,60,카드이체,DES-1,105900,개인,38.0,경기도,경기도,계약확정,0,없음,남자,1.0,현대카드
774,775,66759093,렌탈,프로모션계약,대형마트E,2019-01-20,60,카드이체,DES-1,105900,개인,43.0,경기도,경기도,계약확정,0,없음,여자,4.0,현대카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50475,50477,66797984,렌탈,일반계약,영업방판,2019-09-21,60,카드이체,DES-1,105900,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,현대카드
50480,50482,66796969,렌탈,프로모션계약,전문매장Z,2020-06-29,60,카드이체,DES-1,105900,개인,NaN,경상도,경상도,계약확정,0,없음,남자,3.0,현대카드
50558,50560,66574392,렌탈,프로모션계약,대형마트A,2019-11-14,60,카드이체,DES-1,105900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,1.0,현대카드
50667,50669,66797907,렌탈,프로모션계약,영업방판,2020-07-21,60,카드이체,DES-1,105900,개인,NaN,전라도,전라도,계약확정,0,없음,여자,1.0,현대카드
50790,50792,66790808,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,43.0,경상도,울산광역시,계약확정,0,없음,여자,6.0,현대카드

#### 월렌탈비용이 10만원 이상이고 결제은행이 현대 카드 또는 롯데 카드

In [28]:
cond1 = df1['Bank']=='현대카드'
cond2 = df1['Bank']=='롯데카드'
df1.loc[cond1|cond2]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-17,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
12,13,66355286,렌탈,프로모션계약,영업방판,2020-02-10,60,카드이체,DES-3A,90900,개인,35.0,경상도,경상도,계약확정,0,없음,여자,7.0,현대카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51289,51291,66441028,렌탈,교체계약,대형마트A,2020-01-16,60,CMS,DES-2,78900,개인,56.0,경기도,경기도,계약확정,0,없음,남자,1.0,롯데카드
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2019-03-11,60,카드이체,DES-1,96900,개인,45.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드

#### isin() : 특정 리스트 내 값이 포함되어있는지 확인

In [29]:
cond1 = df1['Bank'].isin(['현대카드','롯데카드','신한카드'])
df1.loc[cond1]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-17,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
12,13,66355286,렌탈,프로모션계약,영업방판,2020-02-10,60,카드이체,DES-3A,90900,개인,35.0,경상도,경상도,계약확정,0,없음,여자,7.0,현대카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51289,51291,66441028,렌탈,교체계약,대형마트A,2020-01-16,60,CMS,DES-2,78900,개인,56.0,경기도,경기도,계약확정,0,없음,남자,1.0,롯데카드
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2019-03-11,60,카드이체,DES-1,96900,개인,45.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드

---
> # **Mission1**
---

### 1. 데이터 추출 + 정렬 + head
- product_type 제품군중, Des-1를 추출
- Amount_Month 월랜탈비용이 높은 상위 100개 데이터 추출
- result2.xlsx로 저장

In [30]:
mission1_1 = df1.loc[df1['Product_Type'] == 'DES-1'].sort_values(by='Amount_Month',ascending=False).head(100)
mission1_1.to_excel('result2.xlsx')
mission1_1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
24171,24173,25777820,렌탈,프로모션계약,직영유통사,2019-08-26,36,가상계좌,DES-1,180750,사업자,NaN,경기도,인천광역시,계약확정,1,있음,여자,NaN,NaN
18519,18521,25777820,렌탈,프로모션계약,직영유통사,2019-02-25,36,가상계좌,DES-1,180750,사업자,NaN,경상도,부산광역시,계약확정,1,있음,여자,NaN,NaN
18518,18520,25777820,렌탈,프로모션계약,직영유통사,2019-02-12,36,가상계좌,DES-1,180750,사업자,NaN,경상도,부산광역시,계약확정,1,있음,여자,NaN,NaN
205,206,25777820,렌탈,프로모션계약,직영유통사,2019-03-25,36,가상계좌,DES-1,180750,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,NaN
18517,18519,25777820,렌탈,프로모션계약,직영유통사,2019-02-27,36,가상계좌,DES-1,180750,사업자,NaN,경상도,부산광역시,계약확정,1,있음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30369,30371,66778885,렌탈,프로모션계약,영업방판,2019-08-29,60,카드이체,DES-1,145200,개인,53.0,경기도,인천광역시,계약확정,0,없음,여자,1.0,롯데카드
26264,26266,25737410,렌탈,프로모션계약,영업방판,2019-01-31,60,CMS,DES-1,145200,사업자,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,경남은행
26659,26661,66772529,렌탈,일반계약,영업방판,2019-03-21,60,CMS,DES-1,145200,개인,35.0,충청도,충청도,계약확정,0,없음,여자,NaN,국민은행
8508,8509,66762378,렌탈,프로모션계약,영업방판,2020-02-23,60,CMS,DES-1,145200,개인,53.0,경상도,경상도,계약확정,0,없음,여자,2.0,대구은행
2773,2774,66759910,렌탈,프로모션계약,전문매장Z,2019-03-28,60,CMS,DES-1,145200,개인,55.0,충청도,충청도,계약확정,0,없음,여자,9.0,농협회원조합

### 2. 데이터 추출 여러 개(5개)
- Channel의 유입 경로 중 '영업방판'과 '대형마트H'와 '대형마트A'로 유입된 고객 명단을 추출
- Amount_Month >= 10만원
- overdue_count 연체건수가 0건인 고객 명단을 추출

In [31]:
cond1 = (df1['Channel'] == '영업방판')|(df1['Channel'] == '대형마트H')|(df1['Channel'] == '대형마트A')
mission1_2 = df1.loc[cond1&(df1['Amount_Month'] >= 100000) & (df1['Overdue_count'] == 0)]
mission1_2.to_excel('result3.xlsx')
mission1_2

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
32,33,25742841,렌탈,프로모션계약,영업방판,2019-08-10,60,CMS,DES-1,142200,사업자,57.0,경기도,경기도,계약확정,0,없음,여자,NaN,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51276,51278,25841997,렌탈,프로모션계약,영업방판,2019-09-15,60,CMS,DES-1,108900,사업자,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,우리은행
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

### 3. 데이터 추출 + 정렬 + head
- Bank 결제은행에 '현대카드'를 쓴 고객 추출
- Amount_Month가 높고, Term 계약기간이 낮은 순서로 정렬
- head 50개

In [32]:
mission1_3 = df1.loc[df1['Bank'] == '현대카드'].sort_values(by=['Amount_Month','Term'],ascending=[False,True]).head(50)
mission1_3.to_excel('result4.xlsx')
mission1_3.head(10)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
17777,17779,66770693,렌탈,프로모션계약,영업방판,2019-02-22,39,카드이체,MMC,185700,개인,50.0,전라도,전라도,계약확정,0,없음,남자,6.0,현대카드
19084,19086,66189067,렌탈,프로모션계약,전단홍보,2019-07-18,39,카드이체,MMC,185700,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,남자,1.0,현대카드
30396,30398,66715429,렌탈,프로모션계약,전단홍보,2019-07-15,39,카드이체,MMC,185700,개인,36.0,전라도,전라도,계약확정,0,없음,남자,4.0,현대카드
50019,50021,66798682,렌탈,프로모션계약,영업방판,2019-02-23,39,카드이체,MMC,185700,개인,38.0,경기도,경기도,계약확정,0,없음,남자,7.0,현대카드
20315,20317,66581208,렌탈,일반계약,영업방판,2019-08-26,60,카드이체,DES-1,145200,개인,65.0,경상도,경상도,계약확정,0,없음,남자,3.0,현대카드
41311,41313,66791537,렌탈,일반계약,대형마트E,2019-02-14,60,카드이체,DES-1,145200,개인,46.0,경기도,경기도,계약확정,0,없음,남자,1.0,현대카드
17243,17245,66770573,렌탈,일반계약,영업방판,2019-09-08,60,카드이체,DES-1,142200,개인,54.0,경상도,대구광역시,계약확정,0,없음,여자,2.0,현대카드
40343,40345,25733564,렌탈,교체계약,대형마트A,2019-12-19,60,카드이체,DES-1,129900,사업자,67.0,충청도,대전광역시,계약확정,0,없음,여자,NaN,현대카드
9635,9636,66765511,렌탈,일반계약,영업방판,2020-02-05,60,카드이체,DES-R4,126900,개인,49.0,경기도,경기도,계약확정,0,없음,남자,4.0,현대카드
32121,32123,25734686,렌탈,일반계약,영업방판,2020-07-06,60,카드이체,DES-R4,126900,사업자,56.0,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,현대카드

### 기술 통게량 확인
#### 범주형 데이터 확인 - 항목과 빈도수

In [33]:
df1['Channel'].unique()

array(['영업방판', '홈쇼핑/방송', '재계약', '전문매장H', '전문매장Z', '대형마트H', '대형마트E',
       '홈쇼핑/인터넷', '전단홍보', '직영유통사', '대형마트A', '대형마트N', '대형마트C', '직영계열사B',
       '자체홈페이지', '직영계열사A'], dtype=object)

In [34]:
df1['Channel'].value_counts()

영업방판       23767
홈쇼핑/방송     12977
대형마트A       4725
전문매장H       3227
재계약         2193
대형마트E       1497
전문매장Z       1206
전단홍보         560
홈쇼핑/인터넷      375
대형마트H        225
직영유통사        188
자체홈페이지       120
대형마트C        119
대형마트N         83
직영계열사A        20
직영계열사B        19
Name: Channel, dtype: int64

In [35]:
df1['Amount_Month'].mean()

93994.97428900021

In [36]:
df1['Amount_Month'].median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51296     96900
51297     96900
51298    120900
51299     96900
51300     96900
Name: Amount_Month, Length: 51301, dtype: int64>

In [37]:
df1['Amount_Month'].std()

15304.263988475534

In [38]:
df1.describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,51301.000000,5.130100e+04,51301.000000,51301.000000,44329.000000,51301.000000,42520.000000
mean,25651.703612,6.266432e+07,55.639149,93994.974289,50.024093,0.161381,3.428810
std,14809.828628,1.216146e+07,12.009915,15304.263988,10.983877,1.122193,2.213453
min,1.000000,2.568798e+07,12.000000,54603.000000,25.000000,0.000000,0.000000
25%,12826.000000,6.643148e+07,60.000000,81900.000000,42.000000,0.000000,1.000000
50%,25652.000000,6.676578e+07,60.000000,96900.000000,49.000000,0.000000,3.000000
75%,38477.000000,6.678160e+07,60.000000,98400.000000,57.000000,0.000000,5.000000
max,51302.000000,6.696986e+07,60.000000,215700.000000,102.000000,15.000000,10.000000

In [39]:
df1.describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,51301.000000,5.130100e+04,51301.000000,51301.000000,44329.000000,51301.000000,42520.000000
mean,25651.703612,6.266432e+07,55.639149,93994.974289,50.024093,0.161381,3.428810
std,14809.828628,1.216146e+07,12.009915,15304.263988,10.983877,1.122193,2.213453
min,1.000000,2.568798e+07,12.000000,54603.000000,25.000000,0.000000,0.000000
25%,12826.000000,6.643148e+07,60.000000,81900.000000,42.000000,0.000000,1.000000
50%,25652.000000,6.676578e+07,60.000000,96900.000000,49.000000,0.000000,3.000000
75%,38477.000000,6.678160e+07,60.000000,98400.000000,57.000000,0.000000,5.000000
max,51302.000000,6.696986e+07,60.000000,215700.000000,102.000000,15.000000,10.000000

In [40]:
df1.describe(include='all')

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
count,51301.000000,5.130100e+04,51301,51301,51301,51301,51301.000000,51301,51301,51301.000000,51299,44329.000000,51299,51299,51301,51301.000000,51301,51301,42520.000000,48542
unique,NaN,NaN,2,9,16,577,NaN,5,6,NaN,2,NaN,8,14,4,NaN,2,2,NaN,47
top,NaN,NaN,렌탈,프로모션계약,영업방판,2019-01-31,NaN,CMS,DES-1,NaN,개인,NaN,경기도,경기도,계약확정,NaN,없음,여자,NaN,롯데카드
freq,NaN,NaN,46483,15811,23767,1167,NaN,32825,39133,NaN,46263,NaN,18353,14883,50620,NaN,49110,35602,NaN,9516
mean,25651.703612,6.266432e+07,NaN,NaN,NaN,NaN,55.639149,NaN,NaN,93994.974289,NaN,50.024093,NaN,NaN,NaN,0.161381,NaN,NaN,3.428810,NaN
std,14809.828628,1.216146e+07,NaN,NaN,NaN,NaN,12.009915,NaN,NaN,15304.263988,NaN,10.983877,NaN,NaN,NaN,1.122193,NaN,NaN,2.213453,NaN
min,1.000000,2.568798e+07,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,54603.000000,NaN,25.000000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN
25%,12826.000000,6.643148e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,81900.000000,NaN,42.000000,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,NaN
50%,25652.000000,6.676578e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,96900.000000,NaN,49.000000,NaN,NaN,NaN,0.000000,NaN,NaN,3.000000,NaN
75%,38477.000000,6.678160e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,98400.000000,NaN,57.000000,NaN,NaN,NaN,0.000000,NaN,NaN,5.000000,NaN
max,51302.000000,6.696986e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,215700.000000,NaN,102.000000,NaN,NaN,NaN,15.000000,NaN,NaN,10.000000,NaN

### **데이터 요약** (pivot)

#### Channel 유입 경로에 따라 Amount_Month 월랜탈 비용의 평균계산

In [41]:
df1.pivot_table(index='Channel',values='Amount_Month', aggfunc='mean')

          Amount_Month
Channel
대형마트A     97016.330159
대형마트C     95276.974790
대형마트E    100423.647295
대형마트H    100025.333333
대형마트N     76514.457831
영업방판     100322.794631
자체홈페이지    98402.500000
재계약       67176.744186
전단홍보     104048.571429
전문매장H     72514.008677
전문매장Z     98127.363184
직영계열사A   104970.000000
직영계열사B   111300.000000
직영유통사    119011.117021
홈쇼핑/방송    89092.232411
홈쇼핑/인터넷   96685.600000

#### Channel의 유입경로에 따라 Sales_Type 판매유형에 따라 Amount_Month의 평균 계산

In [42]:
df1.pivot_table(index='Channel',columns='Sales_Type',values='Amount_Month', aggfunc='mean')

Sales_Type             렌탈           멤버십
Channel
대형마트A       100124.540566  67342.633929
대형마트C        95276.974790           NaN
대형마트E       100423.647295           NaN
대형마트H       100025.333333           NaN
대형마트N        95400.000000  76048.148148
영업방판        100322.794631           NaN
자체홈페이지       98402.500000           NaN
재계약         105900.000000  67159.078467
전단홍보        104792.896175  66900.000000
전문매장H       100240.753725  57348.037392
전문매장Z        98127.363184           NaN
직영계열사A      104970.000000           NaN
직영계열사B      111300.000000           NaN
직영유통사       119011.117021           NaN
홈쇼핑/방송       89092.232411           NaN
홈쇼핑/인터넷      96685.600000           NaN

---
> # **Mission2**
---

### 1. 데이터 추출, 값 계산
- Channel == '영업방판'

In [43]:
mean1 = df1[df1['Channel'] == '영업방판']['Amount_Month'].mean()
median1 = df1[df1['Channel'] == '영업방판']['Amount_Month'].median()
mission2_1 = mean1-median1
mission2_1

3422.794631211349

### 2. 데이터 추출, pivot_table
- Channel == '영업방판'

In [44]:
mission2_2 = df1[df1['Channel'] == '영업방판'].pivot_table(index='Product_Type', values='Amount_Month',aggfunc='sum')
mission2_2.to_excel('result5.xlsx')
mission2_2

              Amount_Month
Product_Type
DES-1           1767164010
DES-2            365539650
DES-3A           136620000
DES-R4            33872400
ERA               65774100
MMC               15401700

### 3. 데이터 추출, 정렬
- Channel == '대형마트A'
- Overdue_count 높은 30명

In [45]:
mission2_3 = df1[df1['Channel'] == '대형마트A'].sort_values(by='Overdue_count',ascending=False).head(30)
mission2_3.to_excel('result6.xlsx')
mission2_3.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
30326,30328,66434529,멤버십,멤버십3유형,대형마트A,2019-11-12,12,CMS,DES-1,66900,개인,59.0,서울특별시,서울특별시,기간만료,12,있음,남자,4.0,국민은행
42440,42442,66792361,렌탈,일반계약,대형마트A,2019-08-10,36,CMS,DES-2,102900,개인,64.0,서울특별시,서울특별시,계약확정,12,있음,여자,8.0,국민은행
43971,43973,66768055,렌탈,프로모션계약,대형마트A,2019-02-24,60,CMS,DES-3A,96900,개인,37.0,경상도,울산광역시,계약확정,12,있음,남자,9.0,농협회원조합
50085,50087,66771238,렌탈,프로모션계약,대형마트A,2019-07-31,60,CMS,DES-3A,90900,개인,49.0,경기도,인천광역시,계약확정,12,있음,여자,9.0,농협중앙회
47258,47260,66750846,렌탈,프로모션계약,대형마트A,2019-02-21,60,CMS,DES-2,90900,개인,66.0,경기도,경기도,계약확정,12,있음,여자,8.0,우리은행

### 4. 데이터 추출, describe()
- Amount_Month >= 150000

In [46]:
df1[(df1['Amount_Month'] >= 150000)&(df1['Sales_Type'] == '렌탈')].describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,141.000000,1.410000e+02,141.000000,141.000000,104.000000,141.000000,91.000000
mean,31970.134752,5.425034e+07,40.595745,186841.489362,50.336538,2.134752,4.989011
std,15212.567527,1.894440e+07,5.984478,11608.817396,12.035232,4.209207,2.306968
min,206.000000,2.570414e+07,36.000000,151200.000000,28.000000,0.000000,1.000000
25%,20111.000000,2.577782e+07,39.000000,185700.000000,41.000000,0.000000,4.000000
50%,36690.000000,6.676577e+07,39.000000,185700.000000,51.000000,0.000000,6.000000
75%,44319.000000,6.678915e+07,39.000000,185700.000000,58.000000,1.000000,7.000000
max,51189.000000,6.696170e+07,60.000000,215700.000000,83.000000,13.000000,9.000000

### 5. 데이터 추출, pivot_table
- Product_Type 빈도수

In [47]:
df5 = list(df1['Product_Type'].value_counts().sort_values(ascending=False).head(3).index)
mission2_5 = df1[df1['Product_Type'].isin(df5)].pivot_table(index='Datetime',values='Amount_Month', aggfunc='sum')
mission2_5.to_excel('result7.xlsx')
mission2_5

            Amount_Month
Datetime
2019-01-01       4556400
2019-01-02       4903800
2019-01-03       7146300
2019-01-04       4920900
2019-01-05       5505450
...                  ...
2020-08-03       2903739
2020-08-04       2858343
2020-08-05       3031842
2020-08-06       2770758
2020-08-07       1984143

[577 rows x 1 columns]

### 6. 데이터 추출, pivot table
- Payment_Type == 'CMS'

In [48]:
df6 = df1[df1['Payment_Type'] =='CMS']
df6.pivot_table(index='Gender',values='Overdue_count', aggfunc='mean')

        Overdue_count
Gender
남자           0.297295
여자           0.193136

### 7. dict 사용
- 연도를 입력하면 띠를 출력하는 프로그램

In [49]:
year = int(input("연도를 입력하시오: "))
dict = { 0:'원숭이 띠', 1:'닭띠', 2:'개띠', 3: '돼지띠', 4:'쥐띠', 5:'소띠', 
        6:'범띠', 7:'토끼띠', 8:'용띠', 9:'뱀띠', 10:'말띠', 11:'양띠'}
print(dict[year%12],'입니다')

연도를 입력하시오:  1997

소띠 입니다