# Numpy 시험

### 1번

In [1]:
def temp(celsius):
    fahrenheit = (9/5) * celsius + 32
    return fahrenheit
print("섭씨 10 도 = 화씨", temp(10))
print("섭씨 20 도 = 화씨", temp(20))
print("섭씨 30 도 = 화씨", temp(30))
print("섭씨 40 도 = 화씨", temp(40))
print("섭씨 50 도 = 화씨", temp(50))

섭씨 10 도 = 화씨 50.0
섭씨 20 도 = 화씨 68.0
섭씨 30 도 = 화씨 86.0
섭씨 40 도 = 화씨 104.0
섭씨 50 도 = 화씨 122.0

### 2번

In [2]:
a = [1, 2, 3, 4, 5, 6, 7]
b = [x ** 2 for x in a]
b

[1, 4, 9, 16, 25, 36, 49]

### 3번

In [3]:
def print_area(width,height):
    print("밑변 {}, 높이 {}인 삼각형의 면적은 : {}".format(width, height, int(width*height/2)))

print_area(10, 20)

밑변 10, 높이 20인 삼각형의 면적은 : 100

### 4번

In [4]:
print('Hello','Python', '!')

Hello Python !

### 5번

In [5]:
#(1) Print('Hello Python!')
print('Hello Python!')  # print 소문자

#(2) print("Hello Python!')
print('Hello Python!') # 문자열 출력 시 공통되게 작은 따음표 또는 큰따음표 사용

#(3) print(Hello Python!)
print('Hello Python!') # 따음표가 없으므로 넣어줘야 함

#(4) print(100 + '200')
print(100 + 200) # 숫자는 따음표를 쓰지 않음

#(5) print('3의 3제곱 :', 3 ^ 3)
print('3의 3제곱 :', 3**3) # 파이썬의 제곱근 기호는 **임

Hello Python!
Hello Python!
Hello Python!
300
3의 3제곱 : 27

### 6번

In [6]:
r = int(input("원의 반지름을 입력하세요 : "))
PI = 3.141592
print("원의 둘레 = {}, 원의 면적 = {}".format(2*PI*r, PI*r**2))

원의 반지름을 입력하세요 :  11

원의 둘레 = 69.115024, 원의 면적 = 380.132632

### 7번

In [7]:
n = int(input("정수를 입력하세요 : "))
if 0<=n<=100:
    print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True")
else:
    print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False")

정수를 입력하세요 :  120

입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False

### 8번

In [8]:
a = int(input("정수 a를 입력하세요 : "))
b = int(input("정수 b를 입력하세요 : "))
print("a / b의 몫 : {}".format(a//b))
print("a / b의 나머지 : {}".format(a%b))

정수 a를 입력하세요 :  202
정수 b를 입력하세요 :  50

a / b의 몫 : 4
a / b의 나머지 : 2

### 9번

In [9]:
n = input("이름을 입력하시오 : ")
h = int(input("키를 입력하시오(단위 cm) : "))
if h < 140:
    print("{}님은 놀이기구를 탈 수 없습니다.".format(n))
else:
    print("{}님은 놀이기구를 탈 수 있습니다.".format(n))

이름을 입력하시오 :  동운
키를 입력하시오(단위 cm) :  160

동운님은 놀이기구를 탈 수 있습니다.

### 10번

In [10]:
list_ex = [10, 20, 30, 40, 50, 60, 70]
list_ex[-1] #답

70

### 11번
#### 답 : x o x

### 12번
####  (1) 오류 안남
#### (2) 오류 안남
#### (3) 오류남
#### (4) 오류 안남

In [12]:
a = dict()
a['name']='python' # (1) 오류 안남
a = dict()
a[('a',)] = 'python' # (2) 오류 안남
a = dict()
# a[[1]]='python' #(3) 오류남
a = dict()
a[250]='python' #(4) 오류 안남

### 13번

In [13]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]
for i in range(len(list1)):
    for j in range(len(list2)):
        if list1[i] == 5 and list2[j] == 3:
            break
        elif list1[i] == 7:
            break
        print("{} * {} = {}".format(list1[i],list2[j],list1[i]*list2[j]))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10

### 14번

In [14]:
table = ["Americano", "Ice Americano", "Cappuccino", "Caffe Latte", "Espresso"]
price = [3000, 3500, 4000, 4500, 3600]
menu = dict(zip(table, price))
for key in menu:
    print("{} 가격 : {}원".format(key,menu[key]) )

Americano 가격 : 3000원
Ice Americano 가격 : 3500원
Cappuccino 가격 : 4000원
Caffe Latte 가격 : 4500원
Espresso 가격 : 3600원

### 15번

In [16]:
import math
import numpy as np
a = np.arange(11)
for i in a:
    print("sqrt({}) = {:.4f}".format(i,math.sqrt(i)))

sqrt(0) = 0.0000
sqrt(1) = 1.0000
sqrt(2) = 1.4142
sqrt(3) = 1.7321
sqrt(4) = 2.0000
sqrt(5) = 2.2361
sqrt(6) = 2.4495
sqrt(7) = 2.6458
sqrt(8) = 2.8284
sqrt(9) = 3.0000
sqrt(10) = 3.1623

### 16번

In [17]:
class Dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def __str__(self):
        return "my_dog의 이름은 {}이고 나이는 {}살입니다.".format(self.name,self.age)
    
my_dog = Dog("Mango",3)
print(my_dog)

my_dog의 이름은 Mango이고 나이는 3살입니다.

### 17번

In [18]:
a = np.arange(1,11)
a = a.reshape(2,5)
print(a)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

### 18번

In [19]:
# 18번
a = 3
b = 4
a,b = b,a 
print("a는 {}, b는 {}".format(a,b))

a는 4, b는 3

### 19번

In [20]:
list_int = list(range(0,10))
print(list_int)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 20번

In [21]:
a = [1,1,1,3,3,4,4,4,4,5]
a = list(set(a))
print(a)

[1, 3, 4, 5]